<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiagnosticToolbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DiagnosticToolbox.Properties.Settings>
            <setting name="SplashScreenFilepath" serializeAs="String">
                <value>splash.jpg</value>
            </setting>
            <setting name="DiagnosticRow" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DiagnosticCol" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UpdateDiagnosticTimeMS" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="DiagnosticFilePath" serializeAs="String">
                <value>diagnosticConfig.$$$</value>
            </setting>
        </DiagnosticToolbox.Properties.Settings>
    </userSettings>
</configuration>